.label-game {
  color: var(--color-fourth);
  font-size: var(--size-small);
  font-weight: bold;
  cursor: pointer;
}

.label-game::selection {
  background-color: var(--color-first);
  color: var(--color-zero);
}
