.profile-user {
  color: var(--color-zero);
  width: 350px;
  margin: 0 auto;
}

.profile-user .avatar-profile {
  width: 130px;
  height: 130px;
  margin-bottom: var(--spacing-medium);
}

.profile-user > .title {
  font-size: var(--size-big);
  font-weight: bold;
  margin-bottom: var(--spacing-small);
}

.profile-user > .description {
  font-size: var(--size-small);
  width: 70%;
  margin: 0 auto var(--spacing-very-big);
  line-height: 1.6;
}

.profile-user > .social {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

@media (min-width: 740px) {
  .profile-user .avatar-profile {
    width: 9.375rem;
    height: 9.375rem;
  }

  .profile-user .title {
    font-size: var(--size-very-big);
  }

  .profile-user .description {
    font-size: var(--size-medium);
    margin-bottom: var(--spacing-big);
  }
}
